<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}Chat App{% endblock %}</title>
	</head>
	<body>
		{% with messages = get_flashed_messages() %}
		  {% if messages %}
		    <ul class=flashes>
		    {% for message in messages %}
		      <li>{{ message }}</li>
		    {% endfor %}
		    </ul>
		  {% endif %}
		{% endwith %}
		{% if username %}
			Logged in as {{ username }}, <a href="{{ url_for("unlogger") }}">click here to logout</a>
			<br />
			<br />
		{% endif %}
		{% block body %}
		{% endblock %}
	</body>
</html>
